Source: sipshaman
Section: net
Priority: optional
Maintainer: Jon K Hellan <jon.kare.hellan@uninett.no>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.9.1

Package: sipshaman
Architecture: all
Description: Voice over IP quality measurement tool
 Sipshaman is a tool to probe the quality of a SIP-based voip telephony 
 service. It can compute the MOS values and other performance parameters and
 aggregate this for a trends analysis as well as presentation to a live
 monitoring of status.
Depends: ${misc:Depends}, ${perl:Depends}, perl-modules, libxml-simple-perl, tcpdump, qstream, hobbit-client, net-tools, iputils-ping, sipp-uninett
